html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Main Content Area
.main-content-area {
    transition: 0.5s;
    padding-left: 290px; // Width of the sidebar + gap

    &.active {
        padding-left: 60px;
    }

    .main-content-container {
        padding: 115px 25px 25px; // Top padding > header height (approx 85px) + spacing
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    // Responsive adjustments matching Tagus breakpoints
    @media only screen and (max-width: 1199px) {
        padding-left: 0;

        .main-content-container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}