<form [formGroup]="stateForm" class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>States Group</mat-label>
        <input type="text"
            matInput
            formControlName="stateGroup"
            required
            [matAutocomplete]="autoGroup"
        >
        <mat-autocomplete #autoGroup="matAutocomplete">
            @for (group of stateGroupOptions | async; track $index) {
                <mat-optgroup [label]="group.letter">
                    @for (name of group.names; track $index) {
                        <mat-option [value]="name">
                            {{name}}
                        </mat-option>
                    }
                </mat-optgroup>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>