.profile-card {
    /* Add any specific styling for the profile card here */
    background-color: var(--whiteColor);
    margin-bottom: 25px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.gap-2 {
    gap: 0.5rem;
}