.welcome-card {
    background-color: var(--heraBlueColor);
}

.welcome-box {
    .top {
        padding: 25px 110px 25px 25px;
        background-color: var(--heraBlueColor);

        h4 {
            font-size: 16px;
            margin-bottom: 10px;
            color: var(--whiteColor);
        }

        img {
            right: 15px;
            bottom: 15px;
            max-width: 135px;
            position: absolute;
        }

        p {
            font-size: 13.5px;
            color: var(--whiteColor);
        }
    }
}